<%= form_for([@organization, @talk], :html => { :class => "form-horizontal"}) do |f| %>
  <% if @talk.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@talk.errors.count, "error") %> prohibited this talk from being saved:</h2>

      <ul>
      <% @talk.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :description, :class => "control-label" %>
    <div class="controls">
      <%= f.text_area :description, :rows => 10 %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :location, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :location %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :presented_on, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :presented_on, :class => "datepicker", :value => Date.today.strftime('%m/%d/%Y') %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :slides_url, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :slides_url %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <%= f.submit 'Create', :class => 'btn' %>
    </div>
  </div>

<% end %>
