<h3 class="pull-left">Previous Talks</h3>
<%= link_to add_btn_text('Talk'), new_organization_talk_path(organization.id), :id => 'add_talk_btn', :class => 'btn new-btn btn-warning', 'data-remote'.to_s => true %>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Presenter</th>
    <th>Date</th>
    <th>Description</th>
    <th colspan="2">Votes</th>
  </tr>

<% talks.each do |talk| %>
  <tr>
    <td><%= talk_link(talk) %></td>
    <td><%= avatar_link(talk.user) %></td>
    <td><%= talk.presented_on %></td>
    <td class="description"><%= talk.description %></td>
    <td><%= talk.votes_count %></td>
    <td>
      <%= form_for Vote.new, :url => organization_talk_votes_path(organization.id, talk.id), :html => {:class => 'pull-right'} do |f| %>
        <% f.submit 'Vote', :id => "vote-for-talk-#{talk.id}", :class => "btn pull-right" %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<div id ="talk_pagination">
  <%= paginate talks, :param_name => "talk_page" %>
</div>