<%= form_for([@organization, @suggestion], :html => { :class => "form-horizontal"}) do |f| %>
  <% if @suggestion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@suggestion.errors.count, "error") %> prohibited this suggestion from being saved:</h2>

      <ul>
      <% @suggestion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :concept, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :concept %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :description, :class => "control-label" %>
    <div class="controls">
      <%= f.text_area :description %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <%= f.submit 'Create', :class => 'btn' %>
    </div>
  </div>

<% end %>